header,html,body{margin: 0;}

body{
    font-family: Georgia, serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color:#243447;

    color: white;
    overflow: hidden;
    width: 100%;
    height:10%;
    font-size: 36px;

}



.rightItem{
    float: right;
    text-align: center;
    margin-right: 0.2em;
    margin-top: 1%;

}

.leftItem{
    text-align: center;

    float: left;
    margin-left: 0.2em;
    margin-top: 1%;

}
.inline{
    display: inline-block;
}
.centerItem{


    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.main{
    float: left;
    top: 12%;
    left:5%;
    position:fixed;
    height:80%;
    width:90%;
    margin:auto;
    overflow: auto;
}
.articulo{
    margin-top: 2%;
    float: left;
    background-color: rgb(226, 226, 226);
    
}




.TextPreview{
    font-size: 18px;
}

.centralImage{
    width: 25%;
    height: 25%;
    padding-right:10px;
    position: relative;
    float: left;

}

a{
    text-decoration: none;
    color:white
}
.linkTitle{
    color:black;
}

.linkTitle:hover{
    color:rgb(28, 7, 106);
}

a:hover{
    color:rgb(2, 214, 2);
}